<p>Title:</p>
<p><%= @book.title></p>
<p>Body:</p>
<p><%= @book.body %></p>
<a class="edit" href="/books/#{book.id}"></a>
　　　　　　　　　　<!-- リンク先は要調整 -->
<!--こっちが理想的か？ %= link_to "Edit", edit_book_path(@book.id) %> -->
"|"
<a class="back" href="/books">Back</a>
