<p>Title:</p>
<p><%= @book.title></p>
<p>Body:</p>
<p><%= @book.body %></p>
<a class="edit"><=% link_to Edit, "/books/#{book.id}" %></a>
　　　　　　　　　　　　　　　　<!-- リンク先は要調整 -->
"|"
<a class="back"><%= link_to back, "/books" %></a>
